.item {
    width: 30em;
    background-color: #eee;
    border-radius: 4px;
    margin: 0.5em;
    padding: 0.5em;
    list-style-type: none;
    
    .stat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 0.5rem;
  }
}